.line-error {
    display: block;
    background-color: #401303;
}

.line-no-error {
    display: block;
}

/* Make full width lines */
.syntax-result code {
    display: block;
    width: fit-content;
}